[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "ls_colors"]
	path = LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS
[submodule "vim-plug"]
	path = nvim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty
[submodule "kitty-themes"]
	path = kitty-themes
	url = https://github.com/kovidgoyal/kitty-themes.git
[submodule "antidote"]
	path = antidote
	url = https://github.com/mattmc3/antidote.git
